#@data/values
---
enable_network_policy: true

irvisualizer:
  replicas: 1
  image: "jamesclonk/irvisualizer:625399ccc65d3eea2b06f2536d41a77b1cc876df"

ircollector:
  replicas: 1
  image: "jamesclonk/ircollector:f3603e9a3904b881fe770a595061e798a100c955"

irdiscordbot:
  replicas: 1
  image: "jamesclonk/irdiscordbot:c032a58d922d3f71ee0bc39c4821e97bbd7a9ca0"
