#@data/values
---
enable_network_policy: true

irvisualizer:
  replicas: 1
  image: "jamesclonk/irvisualizer:625399ccc65d3eea2b06f2536d41a77b1cc876df"

ircollector:
  replicas: 1
  image: "jamesclonk/ircollector:152d51fba4a49789f1259473a1f2d5aea9660678"

irdiscordbot:
  replicas: 1
  image: "jamesclonk/irdiscordbot:c032a58d922d3f71ee0bc39c4821e97bbd7a9ca0"
