#@data/values
---
busybox:
  image: "busybox:1.32.0"

wireguard:
  image: "masipcat/wireguard-go:0.0.20230223"

  network: "10.15.20.0/24"
  address: "10.15.20.1/24"
  public_key: "PZVWslT6d/nHS1y85mDZOPymyKjzJ62BxFIjEYGDrEs="

  clients:
  - name: work-laptop
    public_key: "JPi51YG+n1slsHOo9iYR9SUehcFQTup6ksZaPyfpjxI="
    allowed_ips: "10.15.20.10/32"
  - name: phone
    public_key: "8yb2L/sCq7tEAB4O/DjdB8S80OQFDGdZKlqJ7MJbq1U="
    allowed_ips: "10.15.20.15/32"
